.leftinnerdiv {
    float: right;
    width: 25%;
    margin-top: 120px;    

    
}

.adminbody{
    background-image: url("../images/book1.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Garamond';
    font-size: larger;

}


.all_buttons{
        background-color: rgb(247, 246, 216);
        color: rgb(61, 14, 14);
        width: 102%;
        height: 40px;
        margin-top: 8px;
        border-radius: 10px;
        margin-left: 0px;
}

.innerright,
label {
    color: rgb(41, 63, 41);
    font-weight: bold;
}



.ins{
    margin-top: 8px;
    border-radius: 5px;
}

.add{
    margin-left: 500px;
}


.containers{
    background-color: rgba(207, 111, 111, 0.774);
    margin-top: 130px;
    margin-left: 70px;
    margin-right: 40px;
    border-radius: 20px;
    
}