.highlight{
    background-color: rgba(207, 111, 111, 0.774);
}

.index{

    background-color: rgba(207, 111, 111, 0.774);
    margin-top: 100px;
    border-radius: 10px;
    
}

.popup{
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 90000;
    overflow-y:scroll;
    padding: 15px;
    visibility: hidden;
}

.popup-show{
    visibility:visible;
}

.popup-form{
    max-width:800px;
    width:100%;
    padding:15px 15px;
    border-radius: 5px;
}

.submit-button{
    margin-left: 0px;
    background-color: rgb(247, 246, 216);
    border: radius 9px;
    padding:5px;
    
    
}